#header-wrapper {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  width: 100%;

  .header-cont.navbar--dark {
    background-color: #000;
    opacity: 0.6;
    padding: 5px;
  }
  .header-cont {
    transition: all 0.8s ease-in-out;
    max-width: 2500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    color: #fff;
    z-index: 10;
    nav {
      flex-grow: 1.2;
    }
    #gnb {
      display: flex;
      justify-content: space-between;
      li {
        a {
          font-size: 17px;
          line-height: 70px;
          display: inline-block;
        }
        button {
          color: #fff;
          font-size: 40px;
          line-height: 70px;
        }
      }
    }
  }
}

h1 {
  flex-grow: 1;
  img {
    width: 170px;
    height: 33px;
  }
}

.lnb {
  display: none;
}

#top-nav {
  position: fixed;
  right: 30px;
  bottom: 20px;
}

.section-wrapper {
  background: no-repeat center / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  .section-cont {
    max-width: 1350px;
    padding: 68px 40px;
    header {
      display: flex;
      margin-bottom: 60px;
      h2 {
        flex-grow: 1;
        font-size: 36px;
        line-height: 48px;
        font-weight: 700;
        &::after {
          content: ".";
          color: red;
        }
      }
      p {
        flex-grow: 1;
        font-size: 17px;
        line-height: 28px;
        font-weight: 500;
        position: relative;
        padding-left: 60px;
        &::before {
          content: "";
          width: 50px;
          height: 3px;
          background-color: #000;
          position: absolute;
          top: 10px;
          left: -10px;
        }
      }
    }
    // background-color: red;
  }
}

.visual-area {
  background-image: url(../img/mvis_04.jpg);
  position: relative;
  .section-cont {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    article {
      width: 100%;
      padding-left: 10%;
      color: #fff;
      h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 62px;
        line-height: 70px;
        font-weight: 500;
        margin-bottom: 36px;
      }
      p {
        font-family: inherit;
        font-weight: 500;
      }
    }
  }
}

.sns-link {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 25px;
  bottom: 25px;
  width: 120px;
  img {
    width: 14px;
    height: 14px;
  }
  .sns-facebook {
    width: 11px;
  }
}

#ad-info {
  position: fixed;
  bottom: 60px;
  right: 20px;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    img {
      width: 25px;
    }
  }
}

.company-info {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 32%;
      height: 175px;
      transition: all 0.3s ease-in-out;
      position: relative;
      margin-bottom: 20px;
      &::before {
        content: "";
        background: url(../img/ic_list_01.png) no-repeat;
        background-position: 0 0;
        width: 40px;
        height: 40px;
        top: 25px;
        right: 20px;
        position: absolute;
        background-size: 240px;
      }
      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }

      a {
        width: 100%;
        display: inline-block;
        padding: 30px 20px;
        strong {
          display: inline-block;
          font-size: 18px;
          line-height: 27px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        p {
          font-size: 14px;
          line-height: 23px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 41px;
            height: 2px;
            background-color: #000;
            bottom: -20px;
            left: 0;
          }
          &::before {
            content: "";
            width: 0px;
            display: block;
            position: absolute;
            bottom: -24px;
            left: 39px;
            border-bottom: 5px solid transparent;
            border-top: 5px solid transparent;
            border-left: 5px solid #000;
          }
        }
      }
    }
  }
}

.company-info-list {
  li:nth-child(2) {
    &::before {
      background-position: -40px 0;
    }
  }
  li:nth-child(3) {
    &::before {
      background-position: -80px 0;
    }
  }
  li:nth-child(4) {
    &::before {
      background-position: -120px 0;
    }
  }
  li:nth-child(5) {
    &::before {
      background-position: -160px 0;
    }
  }
  li:nth-child(6) {
    &::before {
      background-position: -200px 0;
    }
  }
}

.marketing-info {
  background-image: url(../img/business_01.jpg);
  color: #fff;
  .section-cont {
    header {
      p {
        &::before {
          background-color: #fff;
        }
      }
    }
    ul {
      display: table;
      border-collapse: collapse;
      li {
        display: table-cell;
        width: calc(100% / 4);
        height: 430px;
        border: 1px solid gray;
        position: relative;
        &:hover {
          .list-hover {
            opacity: 1;
          }
          .ad-info-desc {
            color: #fff;
          }
        }
        &::after {
          content: "";
          background: url(../img/ic_list_02.png) no-repeat;
          background-position: 0 0;
          width: 60px;
          height: 60px;
          top: 74px;
          right: 50%;
          transform: translateX(50%);
          position: absolute;
          background-size: 240px;
        }
        .list-hover {
          transition: all 0.8s ease-in-out;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          position: absolute;
          background-color: red;
          opacity: 0;
          &::before {
            content: "";
            position: absolute;
            right: 108px;
            bottom: 26.6px;
            width: 7px;
            height: 7px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          &::after {
            content: "";
            width: 60px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            bottom: 30px;
            left: 100px;
          }
        }
        a {
          cursor: pointer;
          box-sizing: border-box;
          padding: 155px 25px 0 25px;
          display: block;
          height: 100%;
          width: 100%;
          strong {
            position: relative;
            z-index: 100;
            font-size: 26px;
            line-height: 39px;
            font-weight: 700;
            display: block;
            text-align: center;
            margin-bottom: 25px;
          }
          p {
            position: relative;
            z-index: 100;
            color: gray;
            font-size: 14px;
            line-height: 23px;
          }
        }
      }
    }
  }
}

.marketing-info {
  .ad-info-list {
    li:nth-child(2) {
      &::after {
        background-position: -60px 0;
      }
    }
    li:nth-child(3) {
      &::after {
        background-position: -120px 0;
      }
    }
    li:nth-child(4) {
      &::after {
        background-position: -180px 0;
      }
    }
  }
}

.solution-info {
  .section-cont {
    ul {
      padding-left: 30%;
      display: flex;
      flex-wrap: wrap;
      li {
        box-sizing: border-box;
        width: 50%;
        margin-bottom: 86px;
        padding: 20px;
        position: relative;
        &::after {
          content: "";
          width: 30px;
          height: 2px;
          background-color: #000;
          position: absolute;
          top: 37px;
          right: 23px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 34px;
          right: 23px;
          width: 7px;
          height: 7px;
          border-right: 2px solid #000;
          border-bottom: 2px solid #000;
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        strong {
          display: block;
          font-size: 22px;
          line-height: 33px;
          font-weight: 700;
          margin-bottom: 49px;
          position: relative;
          &::after {
            content: "";
            width: 100%;
            height: 3px;
            position: absolute;
            background-color: #000;
            bottom: -24px;
            left: 0;
          }
        }
      }
    }
  }
}

.work-info {
  background-image: url(../img/bg_msec04.jpg);
  color: #fff;
  .section-cont {
    header {
      h2 {
        &::after {
          content: ".";
          color: #fff;
        }
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      li {
        width: 30%;
        padding: 20px;
        strong {
          display: block;
          font-size: 28px;
          line-height: 40px;
          font-weight: 500;
          margin-bottom: 60px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 2px;
            background-color: #fff;
            bottom: -29px;
            left: 2px;
          }
        }
        p {
          font-size: 17px;
          line-height: 30px;
          font-weight: 300;
        }
      }
    }
  }
}

.grow-info {
  background-image: url(../img/bg_msec05.jpg);
  color: #fff;
  .section-cont {
    header {
      margin-bottom: 30px;
    }
    article {
      width: 90%;
      margin: 0 auto;
      img {
        max-height: 470px;
      }
      p {
        text-align: center;
        margin: 20px auto;
        max-width: 800px;
        padding: 15px 0;
        background-color: #323436;
        font-size: 17px;
        line-height: 25px;
        border-radius: 30px;
      }
    }
  }
}

.people-info {
  .section-cont {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        position: relative;
        &::after {
          content: "";
          width: 30px;
          height: 2px;
          background-color: #000;
          position: absolute;
          top: 15px;
          right: 23px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 12px;
          right: 23px;
          width: 7px;
          height: 7px;
          border-right: 2px solid #000;
          border-bottom: 2px solid #000;
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        strong {
          display: block;
          font-size: 22px;
          line-height: 33px;
          font-weight: 700;
          margin-bottom: 49px;
          position: relative;
          &::after {
            content: "";
            width: 100%;
            height: 3px;
            position: absolute;
            background-color: #000;
            bottom: -24px;
            left: 0;
          }
        }
      }
    }
  }
}

#footer-wrapper {
}
