#header-wrapper {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;

  .header-cont.navbar--dark {
    background-color: #000;
    opacity: 0.6;
    padding: 5px 10px;
  }
  .header-cont {
    transition: all 0.8s ease-in-out;
    position: fixed;
    z-index: 10;
    max-width: 2500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    background-color: transparent;
    color: #fff;
    h1 {
      flex-grow: 1;
      img {
        width: 170px;
        height: 33px;
      }
    }
    nav {
      flex-grow: 1.2;
      #gnb {
        display: flex;
        justify-content: space-between;
        li {
          transition: all 0.5s ease;
          a {
            font-size: 17px;
            line-height: 4.11;
            display: block;
            position: relative;
            transition: all 0.3s ease;
            &::after {
              content: "";
              position: absolute;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: red;
              top: 50%;
              right: -8px;
              visibility: hidden;
            }
          }
          &:hover {
            color: #dadada;
            a {
              &::after {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}
.ham-btn {
  width: 35px;
  margin-left: 50px;
  &:hover span {
    background-color: #dadada;
  }
  span {
    transition: all 0.5s ease;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
  }
}

.lnb {
  display: none;
}

.section-wrapper {
  background: no-repeat center / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  .section-cont {
    max-width: 1350px;
    padding: 68px 40px;
    header {
      display: flex;
      margin-bottom: 60px;
      h2 {
        flex-grow: 1;
        font-size: 36px;
        line-height: 1.33;
        font-weight: 700;
        &::after {
          content: ".";
          color: red;
        }
      }
      p {
        flex-grow: 1;
        font-size: 17px;
        line-height: 1.64;
        font-weight: 500;
        position: relative;
        padding-left: 60px;
        &::before {
          content: "";
          width: 50px;
          height: 3px;
          background-color: #000;
          position: absolute;
          top: 10px;
          left: -10px;
        }
      }
    }
  }
}

aside {
  #top-nav {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 20;
  }
  #ad-info {
    position: fixed;
    bottom: 60px;
    right: 20px;
    display: inline-block;
    background-color: red;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    z-index: 20;
    transition: all 0.5s ease;
    overflow: hidden;
    &:hover {
      height: 230px;
      li {
        &:hover {
          a {
            opacity: 0.6;
          }
        }

        &:nth-child(1) {
          p {
            opacity: 1;
            display: flex;
          }
        }

        &:nth-child(2) {
          opacity: 1;
        }
        &:nth-child(3) {
          opacity: 1;
        }
      }
    }

    li {
      box-sizing: border-box;
      display: flex;
      height: 70px;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 12px;
      text-align: center;
      padding: 5px;
      &:nth-child(1) {
        img {
          width: 25px;
        }
        p {
          opacity: 0;
          display: none;
        }
      }
      &:nth-child(2) {
        opacity: 0;

        img {
          width: 35px;
        }
      }
      &:nth-child(3) {
        opacity: 0;
      }
    }
    a {
      transition: all 0.5s ease;
      img {
        width: 25px;
      }
    }
  }
}

.visual-area {
  background-image: url(../img/mvis_04.jpg);
  position: relative;
  box-sizing: border-box;
  .section-cont {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    .header {
      padding-left: 10%;
      color: #fff;
      h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 62px;
        line-height: 1.2;
        font-weight: 500;
        margin-bottom: 36px;
      }
      p {
        font-family: inherit;
        font-weight: 500;
      }
    }
  }
}

.sns-link {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 25px;
  bottom: 25px;
  width: 120px;
  img {
    width: 14px;
    height: 14px;
  }
  .sns-facebook {
    width: 11px;
  }
}

.company-info {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 30%;
      padding: 15px;
      transition: all 0.3s ease-in-out;
      position: relative;
      margin-bottom: 20px;
      background-color: rgb(253, 253, 253);
      &::before {
        content: "";
        background: url(../img/ic_list_01.png) no-repeat;
        background-position: 0 0;
        width: 40px;
        height: 40px;
        top: 25px;
        right: 20px;
        position: absolute;
        background-size: 240px;
      }
      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
      a {
        width: 100%;
        display: block;
        padding: 30px 20px;
        strong {
          display: block;
          font-size: 18px;
          line-height: 1.5;
          font-weight: 700;
          margin-bottom: 20px;
        }
        p {
          font-size: 14px;
          line-height: 1.64;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 41px;
            height: 2px;
            background-color: #000;
            bottom: -20px;
            left: 0;
          }
          &::before {
            content: "";
            width: 0px;
            display: block;
            position: absolute;
            bottom: -24px;
            left: 39px;
            border-bottom: 5px solid transparent;
            border-top: 5px solid transparent;
            border-left: 5px solid #000;
          }
        }
      }
    }
  }
}

.company-info-list {
  li:nth-child(2) {
    &::before {
      background-position: -40px 0;
    }
  }
  li:nth-child(3) {
    &::before {
      background-position: -80px 0;
    }
  }
  li:nth-child(4) {
    &::before {
      background-position: -120px 0;
    }
  }
  li:nth-child(5) {
    &::before {
      background-position: -160px 0;
    }
  }
  li:nth-child(6) {
    &::before {
      background-position: -200px 0;
    }
  }
}

.marketing-info {
  background-image: url(../img/business_01.jpg);
  color: #fff;
  .section-cont {
    header {
      p {
        &::before {
          background-color: #fff;
        }
      }
    }
    ul {
      display: table;
      border-collapse: collapse;
      li {
        display: table-cell;
        width: 25%;
        height: 430px;
        border: 1px solid gray;
        position: relative;
        &:hover {
          .list-hover {
            opacity: 1;
          }
          .ad-info-desc {
            color: #fff;
          }
        }
        &::after {
          content: "";
          background: url(../img/ic_list_02.png) no-repeat;
          background-position: 0 0;
          width: 60px;
          height: 60px;
          top: 74px;
          right: 50%;
          transform: translateX(50%);
          position: absolute;
          background-size: 240px;
        }
        .list-hover {
          transition: all 0.8s ease-in-out;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: red;
          opacity: 0;
          &::after {
            content: "→";
            font-size: 40px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        a {
          cursor: pointer;
          box-sizing: border-box;
          padding: 155px 25px 0 25px;
          display: block;
          strong {
            position: relative;
            z-index: 100;
            font-size: 26px;
            line-height: 1.5;
            font-weight: 700;
            display: block;
            text-align: center;
            margin-bottom: 25px;
          }
          p {
            position: relative;
            z-index: 100;
            color: gray;
            font-size: 14px;
            line-height: 1.64;
          }
        }
      }
    }
  }
}

.marketing-info {
  .section-cont {
    .ad-info-list {
      li:nth-child(2) {
        &::after {
          background-position: -60px 0;
        }
      }
      li:nth-child(3) {
        &::after {
          background-position: -120px 0;
        }
      }
      li:nth-child(4) {
        &::after {
          background-position: -180px 0;
        }
      }
    }
  }
}
@keyframes arrow-move1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes arrow-move2 {
  0% {
    transform: translateX(0) rotate(-45deg);
  }
  50% {
    transform: translateX(-15px) rotate(-45deg);
  }
  100% {
    transform: translateX(0) rotate(-45deg);
  }
}
@keyframes line {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.solution-info {
  .section-cont {
    ul {
      padding-left: 30%;
      display: flex;
      flex-wrap: wrap;
      li {
        box-sizing: border-box;
        width: 50%;
        margin-bottom: 86px;
        padding: 20px;
        position: relative;
        a {
          &:hover {
            &::after {
              animation: arrow-move1 0.5s ease-in-out;
            }
            &::before {
              animation: arrow-move2 0.5s ease-in-out;
            }
          }
          &::after {
            content: "";
            width: 30px;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 37px;
            right: 23px;
          }
          &::before {
            content: "";
            position: absolute;
            top: 34px;
            right: 23px;
            width: 7px;
            height: 7px;
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
            transform: rotate(-45deg);
          }
        }
        strong {
          display: block;
          font-size: 22px;
          line-height: 1.5;
          font-weight: 700;
          margin-bottom: 49px;
          position: relative;
          &::after {
            content: "";
            width: 100%;
            height: 3px;
            position: absolute;
            background-color: #000;
            bottom: -24px;
            left: 0;
          }
          &:hover {
            &::after {
              animation: line 1s ease;
            }
          }
        }
      }
    }
  }
}

.work-info {
  background-image: url(../img/bg_msec04.jpg);
  color: #fff;
  .section-cont {
    header {
      h2 {
        &::after {
          content: ".";
          color: #fff;
        }
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      li {
        width: 30%;
        padding: 20px;
        strong {
          display: block;
          font-size: 28px;
          line-height: 1.42;
          font-weight: 500;
          margin-bottom: 60px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 2px;
            background-color: #fff;
            bottom: -29px;
            left: 2px;
          }
        }
        p {
          font-size: 17px;
          line-height: 1.76;
          font-weight: 300;
        }
      }
    }
  }
}

.grow-info {
  background-image: url(../img/bg_msec05.jpg);
  color: #fff;
  .section-cont {
    header {
      margin-bottom: 30px;
    }
    article {
      margin: 0 auto;
      img {
        display: block;
        width: 100%;
        // max-height: 470px;
      }
      p {
        text-align: center;
        margin: 20px auto;
        max-width: 800px;
        padding: 15px 0;
        background-color: #323436;
        font-size: 17px;
        line-height: 1.47;
        border-radius: 30px;
        strong {
          font-weight: 700;
        }
      }
    }
  }
}

.people-info {
  overflow: hidden;
  .section-cont {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 120px;
      li {
        width: 20%;
        position: relative;
        a {
          &:hover {
            &::after {
              animation: arrow-move1 0.5s ease-in-out;
            }
            &::before {
              animation: arrow-move2 0.5s ease-in-out;
            }
          }
          &::after {
            content: "";
            width: 30px;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 15px;
            right: 3px;
          }
          &::before {
            content: "";
            position: absolute;
            top: 12px;
            right: 3px;
            width: 7px;
            height: 7px;
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
            transform: rotate(-45deg);
          }
        }
        strong {
          display: block;
          font-size: 22px;
          line-height: 1.5;
          font-weight: 700;
          margin-bottom: 49px;
          position: relative;
          &::after {
            content: "";
            width: 100%;
            height: 3px;
            position: absolute;
            background-color: #000;
            bottom: -24px;
            left: 0;
          }
          &:hover {
            &::after {
              animation: line 1s ease;
            }
          }
        }
      }
    }
    .eins-map {
      display: block;
      max-height: 350px;
      width: 100%;
    }
    article {
      width: 80%;
      color: #fff;
      display: flex;
      background-color: red;
      position: absolute;
      top: 390px;
      left: 50%;
      transform: translateX(-50%);
      padding: 39px 30px 30px 30px;
      div {
        flex-grow: 1;
        h3 {
          margin-top: 11px;
          font-size: 22px;
        }
        p {
          font-size: 36px;
          font-weight: 700;
        }
      }
      form {
        flex-grow: 2;
        fieldset {
          display: flex;
          .input-cont {
            display: flex;
            flex-direction: column;
            flex-grow: 2;
            input[type="text"] {
              width: 90%;
              margin-bottom: 10px;
              padding: 10px 0 10px 20px;
              border-radius: 5px;
              border: none;
              font-family: inherit;
            }
            label {
              font-size: 14px;
              input[type="checkbox"] {
                vertical-align: bottom;
              }
            }
          }
          button {
            box-sizing: border-box;
            flex-grow: 1;
            font-size: 18px;
            color: inherit;
            font-family: inherit;
            border: 2px solid #fff;
            border-radius: 5px;
            height: 90px;
          }
        }
      }
    }
  }
}

#footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  .footer-cont {
    color: #888888;
    font-size: 14px;
    width: 90%;
    max-width: 1350px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    .enis-logo {
      position: absolute;
      width: 150px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .footer-link {
      color: #cccccc;
      display: flex;
      font-weight: 500;
      margin-bottom: 27px;
      li {
        margin-right: 40px;
        a {
          &:hover {
            text-decoration: underline;
            color: #fff;
          }
        }
      }
    }
    address {
      dl {
        display: flex;
        width: 85%;
        margin-bottom: 16px;
        dd {
          margin-right: 27px;
        }
        dd ~ dt {
          position: relative;
          &:before {
            content: "";
            width: 1px;
            height: 14px;
            background-color: #888;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -13px;
          }
        }
      }
    }
  }
}
