/* util */
.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Global */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Style */
body {
  background: url(images/main_bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

#navbar {
  padding: 10px;
}
.navbar__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar__item {
  margin-right: 10px;
  position: relative;
}
.navbar__item:hover {
  text-decoration: underline;
}
.navbar__item a {
  color: white;
}

.navbar__item:nth-child(3),
.navbar__item:nth-child(4) {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  position: relative;
}

.navbar__item:nth-child(3):hover::after,
.navbar__item:nth-child(4):hover::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  left: 0;
  border-radius: 50%;
  z-index: -10;
}

.navbar__item:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.navbar__item:nth-child(4)::before {
  content: "";
  background-color: #eb4231;
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: -5;
  border-radius: 50%;
}

#main {
  text-align: center;
}
.google-logo {
  border-radius: 30px;
  margin-bottom: 38px;
  max-width: 450px;
}
.search {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 564px;
  padding: 12px 25px;
  background-color: #fff;
  border-radius: 35px;
  margin-bottom: 14px;
}
.search__input {
  width: 450px;
  border: none;
  outline: none;
  vertical-align: middle;
  line-height: 20px;
  font-size: 18px;
}
.search .fa-search {
  opacity: 0.5;
}
.search .fa-microphone {
  color: blue;
  opacity: 0.8;
}

#links {
  margin: 0 auto;
  max-width: 450px;
}
.links__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.links__item {
  position: relative;
}

.links__modifier {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 1s cubic-bezier(1, -0.8, 0.69, 1.83);
  z-index: 10;
  width: 30px;
  height: 30px;
}
.links__modifier:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: grey;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.1;
  border-radius: 50%;
}

.fa-ellipsis-v {
  font-size: 12px;
  color: #fff;
}
.links__item:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.1;
  background-color: #fff;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
}
.links__item:hover .links__modifier {
  opacity: 1;
}
.links__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 110px;
  padding: 20px 0;
}
.links__icon {
  width: 24px;
  height: 24px;
}
.links__img {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 16px;
}
.links__text {
  font-size: 14px;
}
.links__img .fa-plus {
  color: black;
  opacity: 0.8;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  color: whitesmoke;
  font-size: 14px;
  line-height: 40px;
}
.footer__link-icon {
  color: inherit;
}
.footer__link {
  color: inherit;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__setting-btn {
  width: 40px;
  height: 40px;
  color: inherit;
  border-radius: 50%;
  font-size: 14px;
  background-color: transparent;
  position: relative;
}

.footer__setting-btn:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: 0.1;
  top: 0;
  left: 0;
  border-radius: 50%;
}
